.App {
    height: 100vh;
    background-image: linear-gradient(to bottom,#c5d5cb,#ffffff,#ffffff,#e3e0cf);
}
.header{
    width: 100%;
    height: 50px;
    background-color: #c5d5cb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 12px;
    div {
    margin: 6px 12px;
    }
    a {
        color: #000000;
        background: none;
    }
}
.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.home {
    display: flex;
    height: 100%;
    width: 100%;
}
.home-buttons,
.loggedFeatures {
    
    position: absolute;
        top: 50%;
        left: 50%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    transform: translate3d(-50%, -50%, 0);

    a {
        color: #234099;
    }
}
.loggedFeatures {
    a {
        color: #8c464c;
    }
}
.wrap {
    width: 100%;
    height: 100%;  
    position: relative;
    overflow: hidden;

    .bg {
        display: flex;
        width: 100%;
        height: 100%;
        
       
        top: 0;
        left: 0;
        z-index: -1;
        
        background: url('../assets/aidkit.png') no-repeat center center;
        background-size: cover
    }
}
.loggedFeatures > .logout > a {
    color: #156ed4;
}

.main-login{
    margin: 12px 200px;
}

.login,
.inputmedicine-form,
.deletemedicne-form,
.checktakenlist-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    input{
        width: 50px;
        height: 20px;
        border: 2px solid black;
        margin: 6px 0px; 
    }

}
.registration-form{
    form {
        display: flex;
        flex-direction: column;
        margin: 6px 0px;
        justify-content: left;
        label{
        margin: 6px 0px;
    }
    }
    
}
button {
    margin: 10px 10px;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 30px;
    text-decoration: none;
    background: rgba($color: #fafafa, $alpha: 0.5);
    padding: 6px;
    border-radius: 16px;
}

.warning    {
    border: 2px solid red;
    padding: 6px 6px;
    margin: 10px;
    border-radius: 16px;
}

.inputmedicine,
.out-of-date-output,
.check-output {
    width: 100%;
    height: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

#medicines-output,
#medicines-check,
#medicines-taken {
    display: flex;
    flex-direction: column;
    width: 700px;
    max-height: 50vh;
    overflow: scroll
}


@media (min-width: 768px){
    

}